In [2]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
# To plot
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')
from sklearn.metrics import accuracy_score
# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [3]:
#importing datasets  
dfx= pd.read_csv('stocknet_trn_data (1).csv')  
dfx.head()

         Open        High         Low      Volume
0   75.430000   75.910004   75.139999   3436700.0
1  124.930000  124.940002  124.169998   2366700.0
2   84.339996   84.370003   82.370003  11338700.0
3   56.770000   57.150002   56.529999    413300.0
4   47.419998   48.090000   46.759998   9531100.0

In [4]:
dfy=pd.read_csv('stocknet_trn_data_targets (1).csv',header=None)
dfy = dfy.rename(columns ={1:"Close"})
dfy.head()

    0       Close
0  d1   75.650002
1  d2  124.449997
2  d3   82.660004
3  d4   57.009998
4  d5   47.860001

In [5]:
dfx=dfx.dropna()
dfy=dfy.dropna()

In [6]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
scaled = MinMaxScaler().fit_transform(dfx)
dfx = pd.DataFrame(scaled,columns = dfx.columns)
dfx

           Open      High       Low    Volume
0      0.000269  0.000270  0.000270  0.005573
1      0.000450  0.000449  0.000451  0.003838
2      0.000301  0.000301  0.000297  0.018388
3      0.000200  0.000201  0.000201  0.000670
4      0.000166  0.000168  0.000165  0.015457
...         ...       ...       ...       ...
97724  0.000372  0.000372  0.000373  0.005965
97725  0.000228  0.000229  0.000230  0.032878
97726  0.002122  0.002122  0.002100  0.005541
97727  0.000434  0.000434  0.000417  0.021507
97728  0.000230  0.000230  0.000230  0.001082

[97729 rows x 4 columns]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(dfx,dfy['Close'], test_size= .30, random_state=1)

In [13]:
# Create and train the Support Vector Machine (Regressor) 
svr_rbf = SVR(kernel='poly', C=1, epsilon=10 ) 
svr_rbf.fit(X_train, y_train)

SVR(C=1, epsilon=10, kernel='poly')

In [14]:
# Testing Model: Score returns the coefficient of determination R^2 of the prediction. 
# The best possible score is 1.0
svm_confidence = svr_rbf.score(X_test, y_test)
print("svm confidence: ", svm_confidence)

svm confidence:  0.9212095635060783

In [15]:
import pandas as pd
Final = pd.read_csv("stocknet_tst_data.csv")  
Final

             Open        High         Low    Volume
0       26.299999   26.520000   25.959999  32642100
1       95.550003   95.739998   94.019997   1826300
2       54.770000   55.360001   54.590000   5656800
3      125.589996  125.820000  123.660004   4151600
4       20.709999   20.809999   20.670000  10489800
...           ...         ...         ...       ...
10855   51.660000   52.919998   49.919998     87000
10856   39.549999   40.619999   39.189999  35177200
10857   22.780001   22.900000   22.389999   9404100
10858   33.750000   34.060001   33.580002  26179000
10859   91.010002   91.680000   89.970001   4675300

[10860 rows x 4 columns]

In [16]:
predictions = svr_rbf.predict(Final)
predictions

array([-3.29628291e+25, -5.77257292e+21, -1.71552177e+23, ...,
       -7.88207854e+23, -1.70039185e+25, -9.68512351e+22])

In [12]:
np.savetxt("Abhiram_labels_svr.txt",predictions, delimiter="\n", fmt="%.6f")